<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=DESKTOP-86CRKFR\SQLEXPRESS;user id=sa;password=P@ssw0rd;Initial Catalog=dbSample28Jan22;"/>
	</connectionStrings>
</configuration>