@model IEnumerable<SampleMVCTogetherApp.Models.Product>

@{
    ViewData["Title"] = "ShowProducts";
}

<h1>ShowProducts - @ViewBag.Username</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        @Html.Partial("_ProductPartial",item)
}
    </tbody>
</table>
